@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

@import '_form.scss';

$primary-bg: #02070f;
$secondary-bg: #6b6d76;
$primary-accent: #f0386b;
$primary-text: #f3fcf0;

$warning-red: #e03749;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: $primary-bg;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  margin-top: 3em;
}

.page-title {
  color: $primary-text;
  font-size: 2.5em;
  font-weight: 500;
}
.page-subtitle {
  color: $primary-text;
  font-size: 1.5em;
  font-weight: 400;
  width: 250px;
  margin-bottom: 2em;
}

.btn {
  font-family: inherit;
  border-radius: 25px;
  outline: 0;
  border: 1px solid $primary-accent;
  color: $primary-text;
  background-color: $primary-accent;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.7;
  height: auto;
  width: auto;
  padding: 0.4em 1em;
  text-align: center;
  margin-bottom: 1em;
  vertical-align: middle;
  transition: box-shadow 0.2s ease, transform 0.15s ease;
}

.btn__icon {
  vertical-align: middle;
  font-size: 1.25em;
}

.btn--icon-only {
  width: auto;
}
.btn--icon-only:first-child {
  margin-right: 0.5em;
}

.btn:hover,
.btn:focus {
  -moz-box-shadow: 1px 1px 10px $primary-accent;
  -webkit-box-shadow: 1px 1px 10px $primary-accent;
  box-shadow: 1px 1px 10px $primary-accent;
  cursor: pointer;
  transform: translateY(-2px);
  color: $primary-accent;
  background-color: $primary-bg;
}

canvas {
  border-radius: 25px;
  border: 1px solid $primary-text;
  margin: 1em 0;
  background-color: #fff;
  padding: 0.3em;
  max-width: 95%;
  min-height: 120px;
}

.credits {
  font-size: 1.1em;
  margin-top: 3em;
  line-height: 1.5;
}

.credits__not-link {
  color: $primary-text;
}

.credits__link {
  text-decoration: none;
  color: $primary-accent;
  font-size: 1em;
}

.credits_icon {
  vertical-align: text-bottom;
  font-size: 1.25em;
}

.credits__link:hover,
.credits__link:focus {
  border-bottom: 1px solid $primary-accent;
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 650px) {
  html {
    font-size: 13px;
  }
  .content {
    margin: 2em 0.2em;
  }

  .credits {
    margin-top: 0.5em;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
  canvas {
    max-width: 90%;
  }
  .page-title {
    margin: 0;
  }
  .content {
    margin-top: 0;
  }
}
