@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-accent: #5fbaa7;
  --primary-green: #578556;
  --dark-mode-primary: #141a1f;
  --dark-mode-secondary: #0c1821;
  --dark-mode-accent: #5fbaa7;
  --shadow-color: #c4c2c2;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans';
  margin: 0;
  overflow: hidden;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: var(--primary-green);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  transform: skewY(-4deg);
  transform-origin: top left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: var(--primary-green);
  padding: 0.1rem 0.5rem;
  margin: 1rem;
  border-radius: 6px;
  height: 85vh;
  width: 30vw;
  border: 1px solid var(--primary-green);
  z-index: 2;
}

.brand-logo {
  width: 50%;
  height: fit-content;
  padding-bottom: 0.6rem;
  border-bottom: 4px solid var(--primary-accent);
}

.brand-logo img {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

input {
  margin-bottom: 1vh;
  height: 2.2rem;
  width: 70%;
  border-radius: 6px;
  font-size: 0.9rem;
  border: 1px solid var(--primary-accent);
  outline: 0;
  padding-left: 0.5rem;
  font-family: inherit;
}

select {
  margin-bottom: 1vh;
  height: 2.2rem;
  width: 70%;
  border-radius: 6px;
  font-size: 0.9rem;
  border: 1px solid var(--primary-accent);
  background-color: transparent;
  outline: 0;
  padding-left: 0.5rem;
  font-family: inherit;
  color: var(--dark-mode-primary);
}

.warning {
  display: flex;
  flex-direction: column;
  color: red;
  margin-bottom: 1.5vh;
  font-size: 0.9rem;
}

.btn {
  font-family: inherit;
  border-radius: 6px;
  outline: 0;

  background: rgb(120, 175, 118);
  background: -moz-linear-gradient(
    90deg,
    rgba(120, 175, 118, 1) 0%,
    rgba(87, 133, 86, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(120, 175, 118, 1) 0%,
    rgba(87, 133, 86, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(120, 175, 118, 1) 0%,
    rgba(87, 133, 86, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#78af76",endColorstr="#578556",GradientType=1);

  color: #fff;
  border: 0;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  -moz-box-shadow: 4px 4px 6px var(--shadow-color);
  -webkit-box-shadow: 4px 4px 6px var(--shadow-color);
  box-shadow: 4px 4px 6px var(--shadow-color);
  margin-bottom: 3vh;
  width: fit-content;
}

.btn:hover {
  -moz-box-shadow: 7px 7px 11px var(--shadow-color);
  -webkit-box-shadow: 7px 7px 11px var(--shadow-color);
  box-shadow: 7px 7px 11px var(--shadow-color);
  cursor: pointer;
  transition: all 0.1s;
  transform: scale(1.01);
}

.btn i {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 0.1rem;
}

.btn-group {
  display: flex;
}

.btn-group button {
  margin: 0 0.5vh 3vh 0.5vh;
}

canvas {
  min-height: 8rem;
  max-width: 60%;
  border-radius: 5px;
  border: 1px solid var(--primary-accent);
  margin-bottom: 3vh;
}

.credits {
  padding-bottom: 1rem;
}

.credits a {
  text-decoration: none;
  color: var(--primary-accent);
  font-size: 0.8rem;
}
.credits a:hover {
  border-bottom: 1px solid var(--primary-accent);
}

.credits i {
  font-size: 1rem;
  vertical-align: text-top;
}

.credits span {
  font-size: 0.75rem;
}

/* Screens under 1300px wide */
@media (max-width: 1300px) {
  .content {
    width: 70vw;
  }
  input {
    width: 100%;
  }
  canvas {
    max-width: 95%;
    width: fit-content;
    min-height: 7rem;
  }
}

/* Large mobile screens under 850px tall */
@media (max-height: 850px) {
  .content {
    width: 85vw;
    height: 75vh;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  input {
    margin-bottom: 1.5vh;
    height: 2.1rem;
    width: 90%;
    font-size: 0.9rem;
    padding-left: 0.5rem;
  }
  form {
    width: 90%;
  }
  .warning {
    font-size: 0.8rem;
  }
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
    margin-bottom: 3vh;
    width: fit-content;
  }
  canvas {
    max-width: 95%;
    width: fit-content;
    min-height: 8rem;
  }
  .credits a,
  .credits span {
    font-size: 0.7rem;
  }
}

/* Very small mobile screens under 350px wide */
@media (max-width: 350px) {
  .content {
    width: 80vw;
  }

  .brand-logo {
    margin-bottom: 1vh;
  }

  h2 {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 0.7rem;
  }
  input {
    height: 1.9rem;
    width: 100%;
    font-size: 0.8rem;
    padding-left: 0.4rem;
    margin-bottom: 1.5vh;
  }

  select {
    height: 1.9rem;
    font-size: 0.8rem;
  }
  form {
    width: 95%;
  }
  .warning {
    font-size: 0.7rem;
  }
  .btn {
    padding: 0.3rem 0.6rem;
    font-size: 0.85rem;
    margin: 2vh 0 2vh 0;
    width: fit-content;
  }
  canvas {
    max-width: 95%;
    width: fit-content;
    min-height: 7rem;
  }
  .credits a {
    color: var(--primary-accent);
  }
  .credits a,
  .credits span {
    font-size: 0.5rem;
  }
}

/* Small mobile screens under 600px tall */
@media (max-height: 600px) {
  .content {
    width: 85vw;
    height: 72vh;
  }
  h2 {
    font-size: 1rem;
    margin-bottom: 1vh;
  }
  h3 {
    font-size: 0.9rem;
  }
  input {
    height: 1.9rem;
    width: 90%;
    font-size: 0.8rem;
    padding-left: 0.4rem;
  }
  /* .btn {
    padding: 0.4rem 0.85rem;
    font-size: 0.9rem;
    margin-bottom: 2.5vh;
    width: fit-content;
  } */
  canvas {
    max-width: 95%;
    width: fit-content;
    min-height: 6rem;
    margin-bottom: 1vh;
  }
  .credits a,
  .credits span {
    font-size: 0.6rem;
  }
}
